.custom-audio-player{
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 0.1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color:rgb(14, 2, 21,0.5);
}

.display-image-player{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.duration-range{
  filter:hue-rotate(25deg);
  width: 100%;
  
}


.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
    width: 50%;
    height: 100%;
    position: relative;
}


.volume-range{
    filter: hue-rotate(25deg);
    width: 20%;
}


.audio-btn{
    cursor: pointer;
}






