.custom-audio-player{
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 0.1rem 0rem;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(14, 2, 21,0.5);
}

.display-image-player{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.duration-range{
  filter:hue-rotate(25deg);
  width: 20% !important;
}

.flex{
    display: flex;
    gap: 10px;
    align-items: center;
}




.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
    width: 50%;
    height: 100%;
    position: relative;
}

/* 
.volume-range{
    filter: hue-rotate(25deg);
    width: 20%;
} */


.audio-btn{
    cursor: pointer;
}


.custom-range{
    -webkit-appearance: none;
    appearance: none;
    width:20%;
    border-radius: 5px;
    outline: none;
    height: 3px;
    cursor: pointer;
      }

.custom-range::-webkit-slider-thumb{
 -webkit-appearance: none;
 height: 12px;
 width: 12px;
 background-color:#e72c30; 
 /* background-color: #aa2f31; */
 border-radius: 50%;
 box-shadow: 0px 0px 1.5px 3px #f39698;
  
}

.custom-volume{
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    border-radius: 5px;
    outline: none;
    height: 3px;
    cursor: pointer;
}

.custom-volume::-webkit-slider-thumb{
    -webkit-appearance: none;
 width: 5px;
 height: 5px; 
 background-color:#e72c30; 
  border-radius: 50%;
 box-shadow: 0px 0px 1px 2px #f39698;

}


.curser-pointer{cursor: pointer;}



@media screen and (max-width: 666px) {
    .hide{
        display: none;
    }
  }

.formate-time{
 width: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-inline: 5px;
}
























